.carousel-container {
    padding: 3rem;
    width: 100%;
    height: 410px;
    position: absolute;
}

.card-cont {
    background-color: white;
}

.card {
    margin: 10px auto;
    height: 250px;
    width: 300px;
    padding: 50px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card-heading {
    text-align: center;
    padding: 1rem;
}

.one {
    background-color: #61dafb;
}

.two {
    background-color: #3cbfaf;
}

.three {
    background-color: chartreuse;
}

.four {
    background-color: brown;
}

.five {
    background-color: blueviolet;
}

.six {
    background-color: gold;
}

.slick-active {
    padding: 30px 0;
}

.slick-center {
    transform: scale(1.2);
}

.slick-slide:not(.slick-active) {
    margin: 30px 0;
}

.card-cont:not(.slick-active) {
    cursor: pointer;
}

.card-cont.slick-active {
    cursor: default;
}
